body{
  font-family: Arial;
  height: 100vh;
  margin: 0 ;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column; 
  background-color: #F3F6F9;
}

.header {
  margin-bottom: 10px;
  color: #374151;
}


.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 30px 130px 150px 80px 130px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.completed-task {
  text-decoration: line-through;
  color: #6b7280;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 18px;
  padding: 6px;
  color: #1c1e21;
}

.add-todo-button {
  background-color: #2563eb;
  border-radius: 12px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.add-todo-button:hover {
  background-color: #0a66c2;
  color: #ffffff;
}

.delete-todo-button:hover {
  background-color: #dc2626;
}
.delete-todo-button {
  background-color: #ef4444;
  border-radius: 12px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}


.box {
  height: 500px;
  width: 600px;
  padding: 40px 40px 40px 40px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  border-color: #d1d5db;
  box-shadow: 0px 10px 25px  rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}